<li class="col-xs-12 col-sm-6 col-md-3">
    <div class="card center-block">
         <a href="{{card.url}}"><img alt="{{card.title}}" src="{{TimberImage(card.image).guid}}"></a>
        <div class="card-options">
            <a href="{{card.url}}" class="btn btn-default open-btn">{{card.title}}</a>
        </div>
        <p>{{card.content}}</p>
    </div>
</li>
